html {
  font-family: "Lato", "Roboto", sans-serif;
  overflow-y:scroll;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav {
  background-color: #9D9171;

  .brand-logo {
    font-size: inherit;

    img {
      margin-top: -3px;
      height: 44px;
      vertical-align: middle;
    }
  }
}

main {
  flex: 1 0 auto;
  margin-top: 20px !important;
}

footer {
  background-color: #827759 !important;
}

a, .cursor-pointer {
  cursor: pointer;
}

blockquote {
  border-left: 5px solid #bbdefb;
}

.pre-line {
  white-space: pre-line;
  word-wrap: break-word;
}

.user-select-none {
  user-select: none;
}

.material-icons.circle {
  top: 14%;
}

.icon {
  &-top {
    vertical-align: top;
  }

  &-bottom {
    vertical-align: bottom;
  }
}
